@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<style>
    #alertMessage {
        position: fixed;
        bottom: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        background: black;
        display: none;
        text-align: center; /* Center the text horizontally */
        color: white;
    }
</style>

<script>




    // Function to show the alert message and hide it after 3 seconds
    function showAlertMessage() {
        var alertMessage = $("#alertMessage");
        alertMessage.show(); // Show the alert message

        // Hide the alert message after 3 seconds
        setTimeout(function () {
            alertMessage.hide();
        }, 10000);
    }

    $(document).ready(function () {
        // Check if TempData has a value
        var tempMsg = "@TempData["msg"]";
        if (tempMsg !== "") {
            showAlertMessage(); // Show the alert message
        }
    });
    function validatePassword() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();



        // Check if passwords match
        if (password !== confirmPassword) {
            $("#passwordMatch").text("Passwords do not match");
            return false;
        }

        // If all validations pass, return true
        $("#passwordMatch").text(""); // Clear any previous error message
        return true;
    }
</script>






<h1 style="height:60px"></h1>

<div class="container-fluid">
    <div class="row">


        <div class="col-sm-3"></div>
        <div class="col-md-6 mainboxsign">
            <div class="row" style="padding:20px">
                <div class="col-sm-5" style="padding:20px">
                    <img src="~/img/Recover Your Password.png" class="signimg" style="background-size:cover" />
                </div>
                <div class="col-sm-7 customer-login">



                    <form action="/CustomerAccount/ChangePassword" method="post" onsubmit="return validatePassword();">
                        <input type="hidden" name="UserName" value="@Session["mCode"]" />
                        <div class="row">
                            <div class="col-md-10">
                                <label>Enter Old Password &nbsp;<span style="color:deeppink;font-size:15px;">*</span> </label>
                                <input type="password" name="oldPassword" class="form-control" placeholder="Old Password" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <label>Enter New Password &nbsp;<span style="color:deeppink;font-size:15px;">*</span> </label>
                                <input type="password" name="Password" id="password" class="form-control" placeholder="New Password" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <label>Enter confirm Password &nbsp;<span style="color:deeppink;font-size:15px;">*</span> </label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" />
                            </div>
                        </div>
                        <span id="passwordMatch"></span>

                        <div class="row">
                            <div class="col-sm-8">
                                <button type="submit" onsubmit="showAlertMessage()" style="background:#ff006e !important;border:none;border-radius:10px;color:white !important;padding:10px !important;opacity:0.8 !important" class="form-control"><b>Save Password</b></button>
                            </div>
                        </div>
                    </form>
                    <div id="alertMessage" style="height:50px;background:black;display:none">
                        <center>
                            <div style="margin:10px;">

                                <span id="message" style="color:white;font-weight:bold"> @TempData["msg"]</span>
                            </div>
                        </center>
                    </div>
                </div>



            </div>

            @*change*@



        </div>
        <div class="col-sm-3"></div>

    </div>
</div>

<style>
.well {
    padding: 40px !important;
    border: none !important
}
        .customer-login {
            margin: 0px !important;
            padding: 60px 40px 10px 50px !important;
        }

.mainboxsign {
    background-color: white;
    min-height: 400px;
    margin: 0px;
    padding: 10px;
    box-shadow: 0px 2px 15px #c3c3c3;
    border-radius: 20px
}

.signimg {
height:400px;
background-size:cover !important;
    opacity: 0.8 !important
}
        #topspace {
           height:70px
        }

@@media only screen and (max-width:768px) {

    .well {
        padding: 10px !important;
    }

    .signimg {
        height: 500px !important
    }
        #topspace
        {
            display:none
        }
        .customer-login {
            margin: 0px !important;
            padding: 10px 10px 10px 10px !important;
        }
}
@*start inputbox*@
.form-group {
    position: relative;
    /* Adjust as needed */
}

.form-control {
    /* Set initial width */
    min-height: 45px; /* Set initial height */
    transition: height 0.3s ease; /* Smooth transition for height change */

    margin-bottom: 25px;
}

    .form-control:focus {
        height: 45px; /* Set expanded height when focused */
    }

        .placeholder {
            font-size: 18px;
            position: absolute;
            left: 25px; /* Adjust as needed */
            top: 30%;
            transform: translateY(-50%);
            color: #aaa;
            pointer-events: none; /* Prevent interaction with placeholder */
            transition: top 0.3s ease, font-size 0.3s ease;
        }

.form-control:focus + .placeholder,
.form-control:not(:placeholder-shown) + .placeholder {
    top: -13px;
    left: 20PX;
    padding-bottom:5PX;
    font-size: 18px;
    color: #454545;
    opacity: 0.8;
    font-weight: ;
}

</style>