
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Libs CSS
    ============================================ -->

    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome/css/font-awesome.min.css")" />

    <link rel="stylesheet" id="color_scheme" href="@Url.Content("~/css/theme.css")" />


    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href='~/webassets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/webassets/css/style.css" rel="stylesheet">
    <link href="~/webassets/css/responsive.css" rel="stylesheet">
    <link href="~/webassets/css/night-mode.css" rel="stylesheet">
    <link href="~/webassets/css/step-wizard.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="~/webassets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/webassets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/webassets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/webassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/webassets/vendor/semantic/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
.well {
    padding: 40px !important;
    border: none !important
}
        .customer-login {
            margin: 0px !important;
            padding: 60px 40px 10px 50px !important;
        }

.mainboxsign {
    background-color: white;
    min-height: 400px;
    margin: 0px;
    padding: 10px;
    box-shadow: 0px 2px 15px #c3c3c3;
    border-radius: 20px
}

.signimg {
height:400px;
background-size:cover !important;
    opacity: 0.8 !important
}
        #topspace {
           height:70px
        }

@@media only screen and (max-width:768px) {

    .well {
        padding: 10px !important;
    }

    .signimg {
        height: 500px !important
    }
        #topspace
        {
            display:none
        }
        .customer-login {
            margin: 0px !important;
            padding: 10px 10px 10px 10px !important;
        }
}
@*start inputbox*@
.form-group {
    position: relative;
    /* Adjust as needed */
}

.form-control {
    /* Set initial width */
    min-height: 45px; /* Set initial height */
    transition: height 0.3s ease; /* Smooth transition for height change */

    margin-bottom: 25px;
}

    .form-control:focus {
        height: 45px; /* Set expanded height when focused */
    }

        .placeholder {
            font-size: 18px;
            position: absolute;
            left: 25px; /* Adjust as needed */
            top: 30%;
            transform: translateY(-50%);
            color: #aaa;
            pointer-events: none; /* Prevent interaction with placeholder */
            transition: top 0.3s ease, font-size 0.3s ease;
        }

.form-control:focus + .placeholder,
.form-control:not(:placeholder-shown) + .placeholder {
    top: -13px;
    left: 20PX;
    padding-bottom:5PX;
    font-size: 18px;
    color: #454545;
    opacity: 0.8;
    font-weight: ;
}

    </style>



</head>
<body>

    <div class="main-container ">
        <ul class="breadcrumb" style="background:#ff006e;margin:0px !important;padding:20px">
            <li><a href="@Url.Action("Index","WebHome")"><i class="fa fa-home"></i></a></li>
            <li><a href="#">User</a></li>
            <li><a href="#">User Registration</a></li>
        </ul>

        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="page-login">
                    <div class="account-border">
                        <h1 id="topspace"></h1>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 mainboxsign">
                                <div class="row" style="padding:20px">
                                    <div class="col-sm-5" style="padding:20px">
                                        <img src="~/img/Recover Your Password.png" class="signimg" style="background-size:cover" />
                                    </div>
                                    <div class="col-sm-7 customer-login " style="">


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-8 co-11">
                                                    <input type="text" name="" value="" id="mobileInput" class="form-control lgn_input" placeholder="" />
                                                    <label class="placeholder" for="Password lgn_icon ">Mobile No. </label>
                                                </div>
                                                <div class="col-sm-12 col-12" id="recaptcha-container"></div>

                                                <div class="col-md-4">
                                                    <h4></h4>
                                                    <button style="background: #ff006e !important;border:none !important;  opacity: 0.8 !important" id="sendOTPBtn" class="btn btn-primary p-2 px-3">Send OTP</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="otpInputBox" class="form-group" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" name="" value="" id="otpInput" class="form-control lgn_input" placeholder="" />
                                                    <label class="placeholder" for="OTP lgn_icon ">Enter OTP </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <button style=" background: #ff006e !important;border:none !important; opacity: 0.8 !important" id="confirmOTPBtn" class="btn btn-primary p-2" onclick="txtverifyOtp()">Confirm OTP</button>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="otpGroup" class="form-group" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" name="" value="" id="otpInput1" class="form-control lgn_input" placeholder="" />
                                                    <label class="placeholder" for="Password lgn_icon ">Enter OTP </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <button id="confirmOTPBtn" class="btn btn-primary">Confirm OTP</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="newPasswordGroup" class="form-group" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="password" name="" value="" id="newPasswordInput" class="form-control lgn_input" placeholder="" />
                                                    <label class="placeholder" for="New Password lgn_icon ">New Password </label>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div>
                                        </div>

                                        <div id="confirmPasswordGroup" class="form-group" style="display: none;">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="password" name="" value="" id="confirmPasswordInput" class="form-control lgn_input" placeholder="" />
                                                    <label class="placeholder" for="Confirm Password lgn_icon ">Confirm Password</label>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div>
                                        </div>

                                        <div id="btnhide" class="form-group" style="display:none">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button style="background:#ff006e !important;border:none;border-radius:10px;color:white !important;padding:10px !important;opacity:0.8 !important" class="form-control" onclick="submit()"><b>Submit</b></button>
                                                </div>

                                                <div class="col-md-6"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                @*change*@



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //function sendOtp() {
        //    debugger;
        //    var phoneNumber = $("#mobileInput").val();

        //    // AJAX request to send OTP
        //    $.ajax({
        //        url: '/CustomerAccount/sendOTP', // Update the URL with your server route
        //        method: 'POST',
        //        data: JSON.stringify({ phone: phoneNumber }),
        //        contentType: 'application/json',
        //        success: function (response) {
        //            if (response === "ok") {
        //                // OTP sent successfully, show OTP input box
        //                $('#otpInputBox').show();
        //            } else {
        //                // Handle error if OTP not sent
        //                alert("Failed to send OTP. Please try again later.");
        //            }
        //        },
        //        error: function (xhr, status, error) {
        //            console.error(error);
        //            // Handle error if AJAX request fails
        //            alert("Failed to send OTP. Please try again later.");
        //        }
        //    });
        //}
        //function txtverifyOtp() {
        //    debugger;
        //    var phoneNumber = $("#mobileInput").val();
        //    var OTP = $("#otpInput").val();

        //    $.ajax({
        //        url: '/CustomerAccount/VerifyOTP',
        //        method: 'POST',
        //        data: JSON.stringify({ phone: phoneNumber, otp: OTP }),
        //        contentType: 'application/json',
        //        success: function (response) {
        //            if (response == "ok") {
        //                console.log(response);

        //                $('#newPasswordGroup').show(); // Show the New Password input field group
        //                $('#confirmPasswordGroup').show(); // Show the Confirm Password input field group
        //                $('#btnhide').show();
        //                // Show the OTP input box
        //                /* $("#otpInput").removeClass("d-none");*/
        //            }
        //            else {

        //            }

        //        },
        //        error: function (xhr, status, error) {
        //            console.error(error);
        //        }
        //    });
        //}

        function submit() {
            debugger;
            var phoneNumber = $("#mobileInput").val();
            var OTP = $("#otpInput").val();
            var pass = $("#newPasswordInput").val();
            var cpass = $("#confirmPasswordInput").val();

            if (pass == cpass) {
                $.ajax({
                    url: '/CustomerAccount/ForgetPassword',
                    method: 'POST',
                    data: JSON.stringify({ phone: phoneNumber, otp: OTP, password: pass }),
                    contentType: 'application/json',
                    success: function (response) {
                        var successMessage = document.createElement("div");
                        successMessage.innerHTML = '<i class="fa fa-check-circle"></i> Password Has Been Changed';
                        successMessage.classList.add("success-message");
                        document.body.appendChild(successMessage);

                        setTimeout(function () {
                            $(successMessage).fadeOut(function () {
                                $(this).remove(); // Remove the message after fading out
                            });
                            window.location.href = "/WebHome/Index"; // Redirect to index page
                        }, 3000); // 3000 milliseconds = 3 seconds
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = document.createElement("div");
                        errorMessage.innerHTML = '<i class="fa fa-times-circle"></i> Error: ' + error;
                        errorMessage.classList.add("error-message");
                        document.body.appendChild(errorMessage);

                        setTimeout(function () {
                            $(errorMessage).fadeOut(function () {
                                $(this).remove(); // Remove the message after fading out
                            });
                        }, 3000); // 3000 milliseconds = 3 seconds
                        console.error(error);
                    }
                });

            }

        }
    </script>


    <script>

        //$(document).ready(function () {
        //    $('#sendOTPBtn').click(function () {
        //        $('#otpGroup').show(); // Show the OTP input field group

        //    });

        //    $('#confirmOTPBtn').click(function () {
        //        $('#newPasswordGroup').show(); // Show the New Password input field group
        //        $('#confirmPasswordGroup').show(); // Show the Confirm Password input field group
        //        $('#btnhide').show();
        //    });
        //});


    </script>

    @*Start Sinup Box*@



    <!-- Javascripts -->
    <script src="~/webassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/webassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/webassets/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="~/webassets/vendor/semantic/semantic.min.js"></script>
    <script src="~/webassets/js/jquery.countdown.min.js"></script>
    <script src="~/webassets/js/custom.js"></script>
    <script src="~/webassets/js/product.thumbnail.slider.js"></script>
    <script src="~/webassets/js/offset_overlay.js"></script>
    <script src="~/webassets/js/night-mode.js"></script>


    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
    <script>

        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCz22UHSeOXoKQJVmRUQACJZEoh_guEP-w",
            authDomain: "clacostore-7303d.firebaseapp.com",
            projectId: "clacostore-7303d",
            storageBucket: "clacostore-7303d.appspot.com",
            messagingSenderId: "811975379858",
            appId: "1:811975379858:web:4d7a818a2ee24984c3cf4b",
            measurementId: "G-TK8PFFV7VW"
        };

        firebase.initializeApp(firebaseConfig);

        // Initialize reCAPTCHA verifier
        const appVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
            'size': 'invisible',
            'callback': (response) => {
                // Callback function when reCAPTCHA verification is successful
            }
        });

        // function for send message

        document.getElementById('sendOTPBtn').addEventListener('click', function () {


            var number = '+' + 91 + '' + document.getElementById('mobileInput').value;
            firebase.auth().signInWithPhoneNumber(number, appVerifier).then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                console.log(coderesult);
                $('#otpInputBox').show();
            }).catch(function (error) {
                console.log(error)
            });

        });



        document.getElementById('confirmOTPBtn').addEventListener('click', function () {
            debugger;
            var code = document.getElementById('otpInput').value;
            console.log(code);
            coderesult.confirm(code).then(function () {
                console.log("Verified OTP");
                $('#newPasswordGroup').show();
                $('#confirmPasswordGroup').show();
                $('#btnhide').show();

            }).catch(function (error) {
                alert("OTP Does Not Matched")
            })
        });


    </script>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
