
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


 


<style>
    .wrapper {
        padding-top: 132px;
        padding-bottom: 50px;
    }


    body {
        font-family: 'Poppins', sans-serif !important;
    }

    .title129 h2 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0px !important;
        color: #fff;
        text-align: center;
        line-height: 30px;
    }

    .life-gambo {
        padding: 59px 0;
       
    }
</style>

<img src="~/img/bgg.jpg" class="img-responsive" style="width:100%" />

 
<div class="life-gambo">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact-title">
                    <h2>Career</h2>
                 </div>
                <div class="contact-form">
                    <form>
                        <div class="form-group mt-1">
                            <label class="control-label">Full Name*</label>
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11 swdh19">
                                    <input class="prompt srch_explore" type="text" name="sendername" id="sendername" required="" placeholder="Your Full">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-1">
                            <label class="control-label">Email Address*</label>
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11 swdh19">
                                    <input class="prompt srch_explore" type="email" name="emailaddress" id="emailaddress" required="" placeholder="Your Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-1">
                            <label class="control-label">Subject*</label>
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11 swdh19">
                                    <input class="prompt srch_explore" type="text" name="sendersubject" id="sendersubject" required="" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-1">
                            <div class="field">
                                <label class="control-label">Message*</label>
                                <textarea rows="2" class="form-control" id="sendermessage" name="sendermessage" required="" placeholder="Write Message"></textarea>
                            </div>
                        </div>
                        <button class="next-btn16 hover-btn mt-3" type="submit" data-btntext-sending="Sending...">Submit Request</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/img/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>







